services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: uniforme_next
    restart: unless-stopped
    env_file:
      - .env
    environment:
      NODE_ENV: development
      PORT: 3000
      WATCHPACK_POLLING: "true"
    ports:
      - "${APP_PORT}:3000"
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/.next

